ACS_SMTP_HOST=
ACS_SMTP_PORT=
ACS_SMTP_USERNAME=
ACS_SMTP_PASSWORD=
MAIL_FROM=
INVITE_BASE_URL=
JWT_SECRET=
JWT_ALGO=
ACCESS_MIN=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
FRONTEND_HOME=
REDIS_URL=
JOB_NAMESPACE=
CLUSTER_TOKEN=
CLUSTER_URL=
API_BASE_URL=
AWS_ACCES_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
DATABASE_URL=
ECR_ARN=
